@import url(resset.css);





@media (max-width: 767px) {
	body.lock{
		overflow: hidden;
	}
}


[class*="__container"]{
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}



.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;

}

main{
	flex: 1 1 auto;
}





/* -------------------------header*/


header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	
}

.header::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: greenyellow;
	z-index: 2;
}

.header__body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

@media (max-width: 767px) {
	.header__body{
		height: 50px;
	}
}

.header__list{
	display: flex;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 2px 3px #000;
	font-size: 18px;
	line-height: 1.2;
	position: relative;
	z-index:2 ;
}
@media (max-width: 767px) {
	.header__list{
	display: block;

	}
}


.header__list li{
	margin-left: 20px;
}

@media (max-width: 767px) {
	.header__list li{
		margin: 0 0 20px 0;
		text-align: center;
	}
	
}


.header__logo {
	flex:  0 0 60px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}


@media (max-width: 767px) {
	.header__logo{
		flex:  0 0 40px;
	}
}

.header__logo img{
	max-width: 100%;
	display: block;
}

.header__burger{
	display: none;
}

@media (max-width: 767px) {
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
}


.header__burger::before,
.header__burger::after{
	content: "";
	position: absolute;
	display: block;
	background-color: #fff;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;
}

.header__burger span{
	position: absolute;
	background-color: #fff;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	transition: all 0.3s ease 0s;
}

.header__burger::before{
	top: 0;

}
.header__burger::after{
	bottom: 0;

}

.header__burger.active::before{
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active::after{
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger.active span{
	transform: scale(0);
}



@media (max-width: 767px) {
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(114, 114, 207);
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		overflow: auto;
		
	}
}

.header__menu.active{
	top: 0;
}



/* -------------------------main*/



main{
	padding-top: 120px;
}


/* ------------------------------------------------- page*/
.page{
	display: flex;
	/* flex-wrap: wrap; */
	margin-bottom: 30px;
	
}


/* ------------------------------------------------- page__filter*/

.page__filter{
	padding: 10px;
}


select{
	border: 1px solid #000;
	min-width: 100%;
	height: 50px;
	text-transform: capitalize;
	font-size: 20px;
	padding: 5px;
}

.form__row{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.form__item{
	flex: 1 1 auto;
}

.form__select{
	margin-bottom: 20px;
}


/* _______________________ title*/

.prais__title{
	font-size: 30px;
	text-transform: uppercase;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
}


.prais{
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.prais input{
	border: 1px solid #000;
	height: 50px;
	flex: 1 1 auto;
	font-size: 20px;
	padding: 10px;
}





/* _______________________ правая сторона*/


.product__items{
	display: flex;
}

.product__img{
	flex: 1 1 50%;

}

.product__img img{
	max-width: 100%;
}


/* -----------------------------------product__info */

.product__info{
	padding: 15px;
	font-size: 20px;
	flex: 1 1 50%;
}

.product__title{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
}

.product__prise{
	color: red;
	margin-bottom: 20px;
}

.product__text{
	line-height: 1.4;
	font-size: 25px;
}



/* ---------------------------------------adaptive */





@media  (max-width: 767px) {
	.page{
		
		flex-wrap: wrap;
		
		
	}
	
	.product__items{
		flex-direction: column;
	}
	.product__title{
		font-size: 20px;
		line-height: 1.3;
	}

	.product__text{
		line-height: 1.4;
		font-size: 20px;
	}
	.page__filter{
		width: 100%;
	}
	
	.product__img{
		text-align: center;
	}
	.product__info{
		text-align: center;
	}
}


/* --------------------------------footer */
footer{
	display: flex;

	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.footer__logo img{
	max-width: 20%;
}

.footer__text{
	color: red;
	padding: 10px;
	line-height: 1.5;
}


@media  (max-width: 767px) {
	footer{
		flex-wrap: wrap;

	}
	
	.footer__logo {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.footer__text{
		text-align: center;
		width: 100%;

	}
	
	
	
}


.more-page{
	text-align: center;
	margin-bottom: 50px;

}

.more-page :not(:last-child){
	margin-right: 20px;
}


.more-page a{
	display: inline-block;
	border: 1px solid red;
	width: 30px;
	height: 30px;
	line-height: 1.8;
	border-radius: 50%;
	background-color: green;
	color: #fff;
	font-weight: 700;
}


/* ....................................................................................................... titletitletitle*/

.title{
	text-align: center;
	color: red;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 40px;
}

.wrapper-img {
	text-align: center;
	max-width: 100%;
	border: 2px solid #000;
}

.wrapper-img img{
	max-width: 30%;
}

.blosc{
	padding: 15px;
	font-size: 23px;
	line-height: 1.6;
}

.blosc p:first-child{
	color: red;
}

button{
	border: 1px solid #000;
	max-width: 150px;
	margin: 0 auto;
	padding: 15px;
	border-radius: 5px;
	background-color: burlywood;
	color: #fff;
}